<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="2"  name="SeleniumFramework">
        <classes>
            <class name="com.tmp.test.HomePageTest"/>
            <class name="com.tmp.test.PaymentPageTest"/>
        </classes>
    </test>
</suite>